<% @users.order(:username).each do |user| %> 

  <div>user: <%= user.username%></div>
  <div>email: <%= user.email %></div>
    <%# <div id="__id_2fa_user_id_<%= user.id__"> %>
      <%# <%= render '2fa', user: user %> 
    <%# </div> %>
  <div>current signin ip: <%= user.current_sign_in_ip %></div>
  <div>last signin ip: <%= user.last_sign_in_ip %></div>
  <div>Admin? 
    <% if user.admin? %>
      Yes
    <% elsif %>
      No
    <%end%>

  </div>
  <div>User agent: <%= request.user_agent %></div>
  <div>
  
    User country: <%= @country %><br />
    User city: <%= @city %><br />
    User coordinates: <%= @coordinates %><br />
  </div>
  
  <div>
    <%= link_to "edit user", edit_user_path(id: user.id) %> 
    |
    <%= link_to "delete user", user_path(id: user.id), method: :delete,
      data: { confirm: "Are you sure you want to delete user: #{user.username} ?"  } %>
      
    <% if user %>
      <% if user.otp_module_enabled? %>
        <%= button_to "Disable 2FA", users_verify_disabled_path(user_id: user.id), :method => :post %><br />
      <% end %>

      <% if user.otp_module_disabled? %>
        <%= button_to "Enable 2FA", users_verify_enabled_path(user_id: user.id), :method => :post %><br />
      <% end %>

    <% end %>
    <%# <%= link_to "#{user.otp_module_enabled? ? 'disable' : 'enable'} two factor authentication", users/ %> 
  </div>
  <div>
  </div>
<%end%>