<div class="row">
  <div class="col-md-12">
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col">Username</th>
          <th scope="col">Email</th>
          <th scope="col">Current IP</th>
          <th scope="col">Last IP</th>
          <th scope="col">Admin</th>
          <th scope="col">User Agent</th>
          <th scope="col">Coordinates</th>
          <th scope="col">Country</th>
          <th scope="col">City</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @users.order(:username).each do |user| %>  
        <tr>
          <th scope="row"><%= user.username%></th>
          <td><%= user.email %></td>
          <td><%= user.current_sign_in_ip %></td>
          <td><%= user.last_sign_in_ip %></td>
          <td><% if user.admin? %>
                Yes 
              <% elsif %>
                No 
              <%end%>
          </td>
          <td><%= request.user_agent %></td>
          <td><%= @coordinates %></td>
          <td><%= @country %></td>
          <td><%= @city %></td>
          <td>
            <div>
            <%= link_to "EDIT", edit_user_path(id: user.id) %> /
            <%= link_to "DELETE", user_path(id: user.id), method: :delete, 
              data: { confirm: "Are you sure you want to delete user: #{user.username} ?"  } %>
            <% if user %>
              <% if user.otp_module_enabled? %>
                <%= button_to "Disable 2FA", users_verify_disabled_path(user_id: user.id), :method => :post, class: "btn btn-primary"  %><br />
              <% end %>

              <% if user.otp_module_disabled? %>
                <%= button_to " Enable 2FA ", users_verify_enabled_path(user_id: user.id), :method => :post, class: "btn btn-primary"%><br />
              <% end %>

            <% end %>
            </div>
          </td>
        </tr>
        <%end%>
      </tbody>
    </table>
  </div>
</div>