<div class="container">
  <div class="row">
<div class="float-left">
    Username: <%= @save_current_user.username %> <br />
    OTP Enabled? <%= @save_current_user.otp_module_enabled? %> <br /><br /><br />

<div>
  <%
  require 'active_model_otp'
    # qrcontent=@save_current_user.provisioning_uri(@save_current_user.email, issuer: "Project Tu-FA")
    qrcontent = @save_current_user.provisioning_uri

    qrcode = RQRCode::QRCode.new(qrcontent)
    qrsize = 250

    svg = qrcode.as_svg(
      offset: 0,
    color: '000',
    shape_rendering: 'crispEdges',
    module_size: 6,
    standalone: true
    )

    image64_svg = Base64.encode64(svg)
    image_source_svg="data:image/svg+xml;charset=utf-8;base64,#{image64_svg}"
  %>
  </div>

  <img src="<%= image_source_svg %>" width="<%= qrsize %>" height="<%= qrsize %>" alt="WhatEver" style="display: block; margin: 0 auto;">
    
    <br /><br /><br />
    Enter OTP here
    <div>
    
    <%= form_tag(two_factors_create_path) do %>
    <%= text_field_tag :otp_code_token %>  
    <%= submit_tag "Signin" %>
    <% end %>

    </div>
    </div>
  </div>
</div>



